@tailwind base;
@tailwind components;
@tailwind utilities;
/* p {
  color: ;
} */
span {
  color: #feab38;
}
#icon {
  cursor: pointer;
  transition: var(--default-transition);
}
#icon:hover {
  transition: all 500ms ease;
  transform: scale(1.1);
  /* background-color: white; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#bold {
  width: 198px;
  height: 24px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #0c0c0c;
}

h1 {
  /* width: 581px;
  height: 146px; */

  font-family: "Gilroy";
  font-style: normal;
  /* font-weight: 500;
  font-size: 60px;
  line-height: 73px; */
  text-align: center;

  color: #ffad3c;
}
h2 {
  /* width: 379px;
  height: 136px; */

  font-family: "Gilroy";
  font-style: normal;
  /* font-weight: 700; */
  /* font-size: 36px; */
  /* line-height: 136px; */
  text-align: center;

  color: #ffffff;
}
h3 {
  /* width: 379px;
  height: 136px; */

  font-family: "Gilroy";
  font-style: normal;
  /* font-weight: 700;
  font-size: 110px;
  line-height: 136px; */
  text-align: center;

  color: #000;
}
#dars {
  color: red;
}
.box {
  box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.08);
}

@layer base {
  body {
    @apply font-body text-paragraph leading-6 bg-gray-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-primary;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5;
  }
  .subtitle {
    @apply text-base text-paragraph mb-16 lg:mb-24 max-w-[520px];
  }
  .btn {
    @apply py-4 px-7 font-medium text-white flex items-center justify-center rounded-sm hover:bg-accent-hover transition-all w-auto md:w-[310px] lg:w-[310px];
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply bg-secondary border shadow-xl h-[50px]  text-paragraph outline-none pl-6 w-full font-body text-[15px] rounded-xl;
  }
  .textarea {
    @apply bg-secondary rounded-xl resize-none w-full outline-none p-6  h-[130px];
  }
  .active {
    @apply text-accent;
  }
}
